<mat-card>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <app-profile-form
      [profileType]="eProfileType.CLIENT"
      (formReady)="addFormControl('profile', $event)"
    ></app-profile-form>
    <button class="mr-3" color="primary" mat-raised-button>Submit</button>
  </form>
</mat-card>

<pre>Form Values: {{ clientForm.value | json }}</pre>
