<app-go-back-header>
  <app-project-settings-menu
    [projectId]="project?.id"
    ngClass.lt-lg="mr-05"
  ></app-project-settings-menu
></app-go-back-header>

<mat-card class="flat-card mat-elevation-z0">
  <div fxLayout="row">
    <mat-card-title fxFlex>{{ project?.name }} </mat-card-title>
    <app-status-chip
      [status]="project?.status"
      [allowChange]="true"
      [projectId]="project?.id"
    ></app-status-chip>
  </div>
  <mat-card-content>
    <div fxLayout="row">
      <div
        fxLayout="column"
        fxLayout.gt-sm="row"
        fxFlex="100"
        fxFlex.gt-sm="60"
      >
        <span>Start date: {{ project?.startDate | date }}</span>
        <span fxHide fxShow.gt-sm>&nbsp;-&nbsp;</span>
        <span>End date: {{ project?.endDate | date }} </span>
      </div>
    </div>

    <div fxLayout="row">
      <span>
        Client: {{ project?.client?.profile?.firstName }}
        {{ project?.client?.profile?.lastName }}
      </span>
    </div>
    <span>Total Time: {{ project?.totalHours }} </span>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Time Tracker">
        <ng-template matTabContent>
          <mat-list *ngFor="let segment of project?.timeSegments">
            <mat-list-item
              >Hours: {{ segment.hours }}, Date: {{ segment.date | date }},
              Employee:
              {{ segment.employeeName }}
              <button mat-button (click)="onEdit(segment)">
                <mat-icon>edit</mat-icon> Edit
              </button>
            </mat-list-item>
          </mat-list>
          <mat-divider class="mb-5"></mat-divider>
          <app-time-create
            [timeSegment]="selectedTimeSegment"
            [projectId]="project?.id"
          ></app-time-create>
        </ng-template>
      </mat-tab>
      <mat-tab label="Locations">
        <ng-template matTabContent>
          Content 2 - Loaded: {{ getTimeLoaded(2) | date: "medium" }}
        </ng-template>
      </mat-tab>
      <mat-tab label="Expenses">
        <ng-template matTabContent>
          Content 3 - Loaded: {{ getTimeLoaded(3) | date: "medium" }}
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

  <mat-card-subtitle></mat-card-subtitle>
</mat-card>

<!--<pre>{{ project | json }}</pre>-->

<!--
<div class="my-3" fxLayout="row">
  <app-go-back-button ngClass.lt-lg="ml-05"></app-go-back-button>
  <div fxFlex></div>
  <app-project-settings-menu ngClass.lt-lg="mr-05"></app-project-settings-menu>
</div>

<mat-card fxLayout="column">
  <div fxLayout="row">
    <mat-card-title fxFlex>{{ project?.name }} </mat-card-title>
    <app-status-chip [status]="project?.status"></app-status-chip>
  </div>
  <mat-card-content>
    <div fxLayout="column" fxLayout.gt-sm="row" fxFlex="100" fxFlex.gt-sm="60">
      <span>Start date: {{ project?.startDate | date }}</span>
      <span fxHide fxShow.gt-sm>&nbsp;-&nbsp;</span>
      <span>End date: {{ project?.endDate | date }} </span>
    </div>
    <div fxLayout="row">
      <h1>
        Client: {{ project?.client?.profile?.firstName }}
        {{ project?.client?.profile?.lastName }}
      </h1>
    </div>
  </mat-card-content>

  <mat-card-subtitle></mat-card-subtitle>
</mat-card>
<mat-card class="mt-5">
  <mat-card-subtitle>Total Time: {{ project?.totalHours }} </mat-card-subtitle>
  <mat-card-content>
    <mat-list *ngFor="let segment of project?.timeSegments">
      <mat-list-item
      >Hours: {{ segment.hours }}, Date: {{ segment.date | date }}, Employee:
        {{ segment.employeeName }}
        <button mat-button (click)="onEdit(segment)">
          <mat-icon>edit</mat-icon> Edit
        </button>
      </mat-list-item>
    </mat-list>
    <mat-divider class="mb-5"></mat-divider>
    <app-time-create
      [timeSegment]="selectedTimeSegment"
      [projectId]="project?.id"
    ></app-time-create>
  </mat-card-content>
</mat-card>

&lt;!&ndash;<pre>{{ project | json }}</pre>&ndash;&gt;
-->
