<mat-toolbar class="mat-elevation-z1" color="secondary">
  <img src="assets/images/hci_logo_small.png" alt="logo" />
  <button mat-raised-button routerLink="/contact">Contact Us</button>
  <span fxFlex></span>
  <button mat-raised-button routerLink="/crm">HCI Portal</button>
</mat-toolbar>
<app-flex-layout-wrapper>
  <div fxFlex class="mt-3">
    <router-outlet></router-outlet>
  </div>
</app-flex-layout-wrapper>
