<p>profile-form works!</p>

<div>
  <ng-container [formGroup]="profileForm">
    <mat-card-title>{{ profileType | titlecase }} Profile</mat-card-title>
    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap="0px"
      fxLayoutGap.gt-sm="15px"
    >
      <input formControlName="profileType" [hidden]="true" />
      <mat-form-field fxFlex.gt-sm="50" appearance="fill">
        <mat-label>First name</mat-label>
        <input
          matInput
          placeholder="Enter first name"
          formControlName="firstName"
        />
        <mat-error>First name is required</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex.gt-sm="50" appearance="fill">
        <mat-label>Last name</mat-label>
        <input
          matInput
          placeholder="Enter last name"
          formControlName="lastName"
        />
        <mat-error>Last name is required</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <mat-form-field fxFlex.gt-sm="100" appearance="fill">
        <mat-label>Business name</mat-label>
        <input
          matInput
          placeholder="Enter businessName"
          formControlName="businessName"
        />
        <mat-error>Last name is required</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <app-location-form fxFlex.gt-sm="100"></app-location-form>
    </div>
  </ng-container>
</div>
