<mat-toolbar class="example-toolbar" color="secondary">
  <img src="assets/images/hci_logo_small.png" alt="logo" />
  <span fxFlex></span>
  <!--
  <button mat-flat-button routerLink="/crm">HCI Portal</button>
-->
  <button mat-raised-button routerLink="/">Goto main website</button>
</mat-toolbar>
<router-outlet></router-outlet>
