@mixin mat-table-columns($columns)
{
  .mat-column-
  {
    @each $colName, $props in $columns {

      $flex: map-get($props, 'flex');
      $width: map-get($props, 'width');

      &#{$colName}
      {
        flex: $flex;
        min-width: $width;

        @if map-has-key($props, 'color')
        {
          color: map-get($props, 'color');
        }
      }
    }
  }
}
