<p>location-form works!</p>

<div
  *ngFor="
    let loc of locationsFormGroups;
    let index = index;
    let last = last;
    let first = first
  "
>
  <ng-container [formGroup]="loc">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="15px">
      <div fxFlex="100" fxLayout="column">
        <mat-card-title>
          Address
          <span *ngIf="!last || !first"> {{ index + 1 }}</span></mat-card-title
        >
        <div fxLayout="row">
          <app-label-select
            [control]="$any(loc).controls['labels']"
            [labelType]="labelType.LOCATION"
          ></app-label-select>
          <div fxFlex></div>
          <button
            mat-stroked-button
            *ngIf="first"
            type="button"
            (click)="addLocation()"
          >
            Add address
          </button>
        </div>

        <mat-form-field fxFlex.gt-sm="100" appearance="fill">
          <mat-label>Address line 1</mat-label>
          <input
            matInput
            placeholder="Enter address line 1"
            formControlName="addressLine1"
          />
          <mat-error>Address line 1 is required</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-sm="100" appearance="fill">
          <mat-label>Address line 2</mat-label>
          <input
            matInput
            placeholder="Enter address line 2"
            formControlName="addressLine2"
          />
        </mat-form-field>
        <div fxFlex="100" fxLayout="row" fxLayoutGap="15px">
          <mat-form-field fxFlex.gt-sm="100" appearance="fill">
            <mat-label>City</mat-label>
            <input matInput placeholder="Enter city" formControlName="city" />
          </mat-form-field>
          <mat-form-field fxFlex.gt-sm="100" appearance="fill">
            <mat-label>State</mat-label>
            <input matInput placeholder="Enter state" formControlName="state" />
          </mat-form-field>
          <mat-form-field fxFlex.gt-sm="100" appearance="fill">
            <mat-label>Zip code</mat-label>
            <input
              matInput
              placeholder="Enter zip code"
              formControlName="zipCode"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </ng-container>
</div>
