<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar fxLayout="row" class="toolbar h-auto mat-elevation-z1">
    <button mat-icon-button (click)="onToggleNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-crm-toolbar-content class="w-100"></app-crm-toolbar-content>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 40 : 0"
    [autosize]="!isShowing || isExpanded"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches"
      fixedTopGap="56"
      (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()"
      class="mat-elevation-z1"
    >
      <mat-nav-list dense>
        <mat-list-item
          routerLink="./dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i mat-list-icon class="fad fa-home"></i>
          <span *ngIf="isShowing">Home</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="./time" routerLinkActive="active">
          <i mat-list-icon class="fad fa-user-clock"></i>
          <span *ngIf="isShowing">My Time</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-expansion-panel
          [hideToggle]="!isShowing"
          [class.mat-elevation-z0]="true"
          [expanded]="isSubLinkActive('crm/projects')"
          dense
        >
          <mat-expansion-panel-header
            matRipple
            [expandedHeight]="'48px'"
            [class.active-panel-header]="isSubLinkActive('crm/projects')"
            [class.p-0]="!isShowing"
          >
            <mat-list-item disableRipple>
              <i mat-list-icon class="fad fa-digging"></i>
              <span *ngIf="isShowing">Projects</span>
            </mat-list-item>
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <mat-list-item
              routerLink="./projects/overview"
              routerLinkActive="active"
            >
              <i mat-list-icon class="fad fa-analytics"></i>
              <span *ngIf="isShowing">Overview</span>
            </mat-list-item>
            <mat-list-item
              routerLink="./projects/search"
              routerLinkActive="active"
            >
              <i mat-list-icon class="fad fa-search"></i>
              <span *ngIf="isShowing">Search</span>
            </mat-list-item>
            <mat-list-item
              routerLink="./projects/add"
              routerLinkActive="active"
            >
              <i mat-list-icon class="fad fa-plus"></i>
              <span *ngIf="isShowing">New project</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel
          [hideToggle]="!isShowing"
          [expanded]="isSubLinkActive('crm/time')"
          [class.mat-elevation-z0]="true"
          dense
        >
          <mat-expansion-panel-header
            matRipple
            [expandedHeight]="'48px'"
            [class.active-panel-header]="isSubLinkActive('crm/time')"
            [class.p-0]="!isShowing"
          >
            <mat-list-item disableRipple>
              <i mat-list-icon class="fad fa-digging"></i>
              <span *ngIf="isShowing">Time Cards</span>
            </mat-list-item>
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <mat-list-item
              routerLink="./time/overview"
              routerLinkActive="active"
            >
              <i mat-list-icon class="fad fa-analytics"></i>
              <span *ngIf="isShowing">Overview</span>
            </mat-list-item>
            <mat-list-item routerLink="./time/create" routerLinkActive="active">
              <i mat-list-icon class="fad fa-search"></i>
              <span *ngIf="isShowing">Create new</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel
          #projects
          [hideToggle]="!isShowing"
          [class.mat-elevation-z0]="true"
          [expanded]="isSubLinkActive('crm/clients')"
          dense
        >
          <mat-expansion-panel-header
            matRipple
            [expandedHeight]="'48px'"
            [class.active-panel-header]="isSubLinkActive('crm/clients')"
            [class.p-0]="!isShowing"
          >
            <mat-list-item disableRipple>
              <i mat-list-icon class="fad fa-user-friends"></i>
              <span *ngIf="isShowing">Clients</span>
            </mat-list-item>
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <mat-list-item
              routerLink="./clients/overview"
              routerLinkActive="active"
            >
              <i mat-list-icon class="fad fa-analytics"></i>
              <span *ngIf="isShowing">Overview</span>
            </mat-list-item>
            <mat-list-item
              routerLink="./clients/create"
              routerLinkActive="active"
            >
              <i mat-list-icon class="fad fa-search"></i>
              <span *ngIf="isShowing">Create new</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="./leads" routerLinkActive="active">
          <i mat-list-icon class="fad fa-address-book"></i>
          <span *ngIf="isShowing">Leads</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="./quotes" routerLinkActive="active">
          <i mat-list-icon class="fad fa-badge-dollar"></i>
          <span *ngIf="isShowing">Quotes</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="./BadUrl">
          <i mat-list-icon class="fad fa-exclamation-triangle"></i>
          <span *ngIf="isShowing">Error</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="./BadUrl">
          <i mat-list-icon class="fad fa-user-circle"></i>
          <span *ngIf="isShowing">My Account</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content [ngClass]="isExpanded ? 'pl-12' : ''">
      <app-flex-layout-wrapper>
        <div fxFlex>
          <router-outlet></router-outlet>
        </div>
      </app-flex-layout-wrapper>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
