.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.example-is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
/*   When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.toolbar {
  z-index: 3;
}

.mat-nav-list {
  padding-top: 0!important;

}

::ng-deep.mat-drawer-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mat-list-base[dense] .mat-list-item .mat-list-item-content{
  color: #b42a2a !important;
}

.active {
  background: rgba(66, 70, 165, 0.07) !important;
  color: #383da0;
}

.active-panel-header {
  background: rgba(0, 0, 0, 0.11) !important;
  color: #383da0;
}

::ng-deep.mat-expansion-panel-body {
  padding: 0!important;
}

::ng-deep.mat-expansion-panel-header {
  padding-left: 0!important;
  .mat-list-item:hover {
    background: none!important;
  }
}

::ng-deep.mat-expansion-panel {
  border-radius: 0!important;
}

.example-is-mobile mat-sidenav-container {
  margin-top: 40px!important;
}
