<mat-form-field fxFlex="100" appearance="fill">
  <mat-label>Customer name</mat-label>
  <input
    type="text"
    placeholder="Select customer"
    aria-label="Customer name"
    matInput
    [formControl]="control"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    [displayWith]="displayFn"
  >
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option.profile.firstName }} {{ option.profile.lastName }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
