<div fxFlex fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row wrap" fxLayoutAlign="start start">
    <!-- loop over the cardList and show the cards -->

    <!-- cards here -->
    <mat-card
      *ngFor="let card of cardList"
      fxFlex="calc(25% - 1em)"
      fxFlex.md="calc(33% - 1em)"
      fxFlex.sm="calc(50% - 1em)"
      fxFlex.xs="calc(100% - 1em)"
      fxLayout="column"
      fxLayoutGap="10px"
      class="mat-elevation-z1 mt-2 mat-card"
    >
      <mat-card-title> {{ card.title }} </mat-card-title>
      <img mat-card-image [src]="card.imgSrc" />
      <mat-card-content> {{ card.description }} </mat-card-content>
      <mat-card-actions>
        <button mat-button>VIEW ACTIVE</button>
        <button mat-button>CREATE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
