.example-card {
  margin-top: .55rem;
  min-width: 400px;
}

mat-card{ }

.mat-card {
  max-width: calc(100% - 20px);
  min-height: 300px;
  overflow: hidden;
  margin-left:.5em;
  margin-right: .5em;
}

// @media only screen and (min-width: 600px) {
//     .recipe-card {
//         width: calc(50% - 20px)
//     }
// }

@media only screen and (min-width: 600px) {
  .mat-card {
    max-width: calc(50% - 20px)
  }
}

@media only screen and (min-width: 992px) {
  .mat-card {
    max-width: calc(33% - 20px)
  }
}

@media only screen and (min-width: 1200px) {
  .mat-card {
    max-width: calc(25% - 20px)
  }
}
