<h1 mat-dialog-title>Change project status</h1>
<form [formGroup]="statusForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <app-project-status-select
      [control]="statusControl"
    ></app-project-status-select>
  </div>
  <div mat-dialog-actions>
    <button mat-button>Save</button>
  </div>
</form>
