<!--<img src="assets/images/hci_logo_small.png" alt="logo" />-->
<span fxFlex fxLayoutAlign="start end"
  >Welcome, {{ user?.profile?.firstName }} {{ user?.profile?.lastName }}</span
>

<a mat-button (click)="logout()" class="nav-item nav-link">
  <mat-icon
    fontSet="fad"
    fontIcon="fa-sign-out"
    style="font-size: 1.8em"
  ></mat-icon>
  Logout
</a>
