<mat-card>
  <mat-card-title>Contact Us</mat-card-title>
  <mat-card-content>
    <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="15px">
        <mat-form-field fxFlex.gt-sm="50" appearance="fill">
          <mat-label>Name of project</mat-label>
          <input
            matInput
            placeholder="Enter full name"
            formControlName="name"
          />
          <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-sm="50" appearance="fill">
          <mat-label>Email address</mat-label>
          <input
            matInput
            placeholder="Enter email address"
            formControlName="email"
          />
          <mat-error>Email is required</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-sm="50" appearance="fill">
          <mat-label>Message</mat-label>
          <input
            matInput
            placeholder="Enter a message"
            formControlName="message"
          />
          <mat-error>Message is required</mat-error>
        </mat-form-field>
      </div>
      <button class="mr-3" color="primary" mat-raised-button>Submit</button>
    </form>
  </mat-card-content>
</mat-card>
<h1>{{ name$ | async }}</h1>
