.chip-style {
  border-radius: 16px;
  border: none;
  padding: 0 12px;
  min-height: 32px;
  height: 1px;
  background-color: #f1f1f1;
}

.red {
  background-color: #bf0505;
  color: white;

}

.green {
  background-color: #18bf05;
  color: white;
}

.yellow {
  background-color: #d76400;
  color: white;
}
