<mat-card>
  <div>
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="15px">
        <div fxFlex="50" fxLayout="column">
          <mat-card-title>Project details</mat-card-title>
          <mat-form-field fxFlex.gt-sm="50" appearance="fill">
            <mat-label>Name of project</mat-label>
            <input
              matInput
              placeholder="Enter project name"
              formControlName="name"
            />
            <mat-error>Project name is required</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex.gt-sm="50" appearance="fill">
            <mat-label>Description of project</mat-label>
            <input
              matInput
              placeholder="Enter project name"
              formControlName="description"
            />
            <mat-error>Project description is required</mat-error>
          </mat-form-field>
          <app-project-status-select
            [control]="statusControl"
          ></app-project-status-select>
        </div>
        <div fxFlex="50" fxLayout="column">
          <mat-card-title>Customer details</mat-card-title>
          <app-customer-autoselect
            [control]="clientControl"
          ></app-customer-autoselect>
          <mat-card-title>Dates</mat-card-title>
          <mat-form-field appearance="fill">
            <mat-label>Start date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="startDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <app-label-select [control]="labelsControl"></app-label-select>
        </div>
      </div>
      <button class="mr-3" color="primary" mat-raised-button>Submit</button>
    </form>
  </div>
</mat-card>

<pre>Form Values: {{ projectForm.value | json }}</pre>
