<div fxFlex="100" fxLayout="row">
  <div
    fxFlex="90"
    fxFlexOffset="5"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxFlex.lt-lg="100"
    fxFlexOffset.lt-lg="0"
  >
    <ng-content></ng-content>
    <!-- Content will be projected here -->
  </div>
</div>
