<mat-form-field appearance="fill" fxFlex>
  <mat-label>Project status</mat-label>
  <mat-select [formControl]="control">
    <mat-option
      *ngFor="let status of eProjectStatus | keyvalue"
      [value]="status.key"
    >
      {{ eProjectStatusMap[status.key] }}
    </mat-option>
  </mat-select>
</mat-form-field>
