<app-go-back-header></app-go-back-header>

<mat-card>
  <mat-card-title>
    <span *ngIf="isAddMode">Create new project</span>
    <span *ngIf="!isAddMode">Update existing project</span>
  </mat-card-title>
  <div>
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="15px">
        <div fxFlex="50" fxLayout="column">
          <mat-card-subtitle>Project details</mat-card-subtitle>
          <mat-form-field fxFlex.gt-sm="50" appearance="fill">
            <mat-label>Name of project</mat-label>
            <input
              matInput
              placeholder="Enter project name"
              formControlName="name"
            />
            <mat-error>Project name is required</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex.gt-sm="50" appearance="fill">
            <mat-label>Description of project</mat-label>
            <input
              matInput
              placeholder="Enter project name"
              formControlName="description"
            />
            <mat-error>Project description is required</mat-error>
          </mat-form-field>
          <app-project-status-select
            [control]="statusControl"
          ></app-project-status-select>
        </div>
        <div fxFlex="50" fxLayout="column">
          <mat-card-subtitle>Customer details</mat-card-subtitle>
          <app-customer-autoselect
            [control]="clientControl"
          ></app-customer-autoselect>
          <mat-card-subtitle>Dates</mat-card-subtitle>
          <mat-form-field appearance="fill">
            <mat-label>Start date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="startDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <app-label-select [control]="labelsControl"></app-label-select>
        </div>
      </div>
      <button
        [class.spinner]="loading"
        [disabled]="loading || submitted"
        class="mr-3"
        color="primary"
        mat-raised-button
      >
        <span *ngIf="isAddMode">Create</span>
        <span *ngIf="!isAddMode">Update</span>
      </button>
      <span *ngIf="touched && !submitted">Changes are not yet saved!</span>
      <span *ngIf="!isAddMode && !loading && submitted">
        Project updated successfully!
      </span>
    </form>
  </div>
</mat-card>

<pre>Form Values: {{ projectForm.value | json }}</pre>
