.mat-card {
  max-width: calc(100% - 20px);
  min-height: 300px;
  overflow: hidden;
  margin-left:.5em;
  margin-right: .5em;
}

@media only screen and (min-width: 600px) {
  .mat-card {
    max-width: calc(50% - 20px)
  }
}

@media only screen and (min-width: 992px) {
  .mat-card {
    max-width: calc(33% - 20px)
  }
}

@media only screen and (min-width: 1200px) {
  .mat-card {
    max-width: calc(25% - 20px)
  }
}

:host ::ng-deep.mat-paginator{
  margin-top: .75em;
  border: solid 1px rgba(0, 0, 0, 0.12);
}


.refresh-button {
  background: white;
  border-radius: 4px;
  border: solid 1px rgba(0,0,0,.12);
  line-height: 0px;
  margin-right: .5em;
}

::ng-deep.mat-button-toggle-label-content {
  line-height: 35px!important;
  padding: 0 10px!important;
}


::ng-deep .mat-list-item-content {
  padding: 0!important;
}
