<app-go-back-header></app-go-back-header>
<div fxLayout="row" class="mt-3">
  <div fxFlex>
    <app-sort-menu
      [sortOptions]="sortOptions"
      [defaultIndex]="1"
      (onSortChange)="sortChange($event)"
    ></app-sort-menu>
  </div>
  <!--  <button class="refresh-button" mat-stroked-button (click)="onRefresh()">
    <mat-icon
      [class.fa-spin]="isRefreshing"
      fontSet="fa"
      fontIcon="fa-sync"
      style="font-size: 1.8em"
    ></mat-icon>
  </button>-->
  <div fxFlex="0 1 0" fxHide.lt-sm>
    <mat-button-toggle-group
      name="fontStyle"
      aria-label="Display style"
      style="margin-right: 0.5em"
      class="display-toggle"
    >
      <mat-button-toggle value="list">
        <mat-icon
          fontSet="fa"
          fontIcon="fa-th-list"
          style="font-size: 1.8em"
        ></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="card">
        <mat-icon
          fontSet="fa"
          fontIcon="fa-th"
          style="font-size: 1.8em"
        ></mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div fxLayout="row" fxLayoutGap="10px">
  <div fxLayout="row wrap" fxLayoutAlign="start start">
    <!-- loop over the cardList and show the cards -->

    <!-- cards here -->
    <mat-card
      *ngFor="let card of data"
      fxFlex="calc(25% - 1em)"
      fxFlex.md="calc(33% - 1em)"
      fxFlex.sm="calc(50% - 1em)"
      fxFlex.xs="calc(100% - 1em)"
      fxLayout="column"
      fxLayoutGap="10px"
      class="mat-elevation-z1 mt-2 mat-card p-2"
    >
      <mat-card-subtitle class="font-weight-bold black">
        {{ card.name }}
      </mat-card-subtitle>

      <mat-card-content fxFlex>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item class="px-0">
            <mat-icon
              matListIcon
              fontSet="fad"
              style="font-size: 1.5em"
              fontIcon="fa-file-alt"
            ></mat-icon>
            {{ card.description }}
          </mat-list-item>
          <mat-list-item class="px-0">
            <mat-icon
              matListIcon
              fontSet="fad"
              style="font-size: 1.5em"
              fontIcon="fa-user-clock"
            ></mat-icon>
            {{ card.totalHours }}
          </mat-list-item>
          <mat-list-item>more project data goes here</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <app-status-chip [status]="card.status"></app-status-chip>

        <div fxFlex></div>
        <button mat-icon-button routerLink="../view/{{ card.id }}">
          <mat-icon
            fontSet="fad"
            style="font-size: 1.5em"
            fontIcon="fa-edit"
          ></mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </div>
</div>

<mat-paginator
  [length]="resultsLength"
  [pageSize]="pageSize"
  [pageSizeOptions]="[8, 16, 32]"
></mat-paginator>
