<mat-form-field appearance="fill">
  <mat-label>Labels</mat-label>
  <mat-select [formControl]="control" multiple>
    <mat-option *ngFor="let label of labels" [value]="label">{{
      label.name
    }}</mat-option>
  </mat-select>
</mat-form-field>
