.sort-group{
  background: white;
  border: solid 1px rgba(0,0,0,.12);
  line-height: 35px;
  padding: 0 10px;
}

.sort-by {
  border-radius: 4px 0 0 4px;
}

.sort-prefix {
  font-weight: bold;
}

.sort-direction {
  border-radius: 0 4px 4px 0;
  border: solid 1px rgba(0,0,0,.12);
  padding: 0;
  width: 44px;
}

.sort-direction-icon {
  color: #1976d2;
  top: -.05em
}

.rotate-in {
  transform: rotate(180deg);
  transition: transform  .75s ease;
}

.rotate-out {
  transition: transform  .75s ease;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}

::ng-deep.mat-menu-content {
  padding: 0;
}
