<mat-button-toggle-group style="margin-left: 0.5em">
  <button
    class="sort-group sort-by border-0"
    mat-button
    [matMenuTriggerFor]="menu"
  >
    <span class="sort-prefix">Sort by: </span>
    <span>{{ sortDisplay }}</span>
    <mat-icon
      fontSet="fa"
      fontIcon="fa-angle-down"
      style="font-size: 2em"
    ></mat-icon>
  </button>
  <button
    class="sort-group sort-direction border-right-0 border-bottom-0 border-top-0"
    mat-stroked-button
    (click)="onToggleSortDirection()"
  >
    <mat-icon
      class="sort-direction-icon"
      [ngClass]="sortDirection ? 'rotate-in' : 'rotate-out'"
      fontSet="fad"
      fontIcon="fa-sort-up"
      style="font-size: 2em"
    ></mat-icon>
  </button>
</mat-button-toggle-group>

<mat-menu #menu="matMenu" xPosition="before">
  <div *ngFor="let option of sortOptions; last as last">
    <button mat-menu-item [value]="option.value" (click)="onSortBy(option)">
      {{ option.name }}
    </button>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>
</mat-menu>
