<div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="15px">
      <div fxFlex="50" fxLayout="column">
        <mat-card-title *ngIf="timeSegment">Edit time card</mat-card-title>
        <mat-card-title *ngIf="!timeSegment">New time card</mat-card-title>

        <app-user-autoselect
          [control]="userControl"
          [role]="'user'"
        ></app-user-autoselect>
        <mat-form-field fxFlex.gt-sm="50" appearance="fill">
          <mat-label>Hours</mat-label>
          <input
            matInput
            placeholder="Enter project name"
            formControlName="hours"
            type="number"
          />
          <mat-error>Project name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex.gt-sm="50" appearance="fill">
          <mat-label>Comment</mat-label>
          <input
            matInput
            placeholder="Enter comment"
            formControlName="comment"
          />
        </mat-form-field>
      </div>
    </div>
    <button class="mr-3" color="primary" mat-raised-button>
      <span *ngIf="timeSegment">Update</span
      ><span *ngIf="!timeSegment">Save</span>
    </button>
    <button
      *ngIf="timeSegment"
      mat-raised-button
      color="warn"
      type="button"
      (click)="onCancelEdit()"
    >
      Cancel
    </button>
  </form>
</div>

<!--<pre>Form Values: {{ formGroup.value | json }}</pre>-->
