<button
  class="px-2"
  style="background-color: white"
  mat-stroked-button
  [matMenuTriggerFor]="menu"
>
  <mat-icon
    fontIcon="fa-cog"
    fontSet="fad"
    style="font-size: 1.8em; color: #104000"
  ></mat-icon>
  Project Settings
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item [routerLink]="'../../edit/' + projectId">
    <mat-icon
      fontSet="fad"
      fontIcon="fa-file-edit"
      style="font-size: 1.8em; color: #1976d2"
    ></mat-icon
    >Edit details
  </button>
  <button mat-menu-item>
    <mat-icon
      fontSet="fad"
      fontIcon="fa-trash-alt"
      style="font-size: 1.8em; color: firebrick"
    ></mat-icon
    >Delete project
  </button>
</mat-menu>
